<mat-toolbar>
  <span class="text-3xl">Home Finance</span>
  <app-select-period></app-select-period>
</mat-toolbar>
<mat-sidenav-container class="example-container h-screen">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="positions">Positions</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="categories">Categories</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="dashboard">Dashboard</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


