<table mat-table [dataSource]="categories">
  <ng-container matColumnDef="tag">
    <th mat-header-cell *matHeaderCellDef>Tag</th>
    <td mat-cell *matCellDef="let element">{{element}}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="detailActive">
        <button mat-mini-fab [routerLink]="element | replaceSpace" color="primary" class="mr-1">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </ng-container>
      <button mat-mini-fab (click)="onDeleteCategory(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns" class="bg-blue-50"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
