<table mat-table [dataSource]="positions">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{element.date | date}}</td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let element">{{element.amount}}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>
  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef>Group</th>
    <td mat-cell *matCellDef="let element">{{element.categoryGroup}}</td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let element">
      <app-select-autocomplete [options]="categories" [initialValue]="element.category"
                             (optionSelected)="onCategorySelected($event, element.description)"></app-select-autocomplete>
    </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{element.type}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns" class="bg-blue-50"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
