<mat-card class="p-4 h-fit mx-4">
  <app-balance class=""></app-balance>
</mat-card>
<div class="grid grid-cols-3 gap-4 p-4 graphic-row">
  <mat-card class="col-span-2 h-fit">
    <app-income-expense-graph (dataFilter)="onDataFilter($event)"></app-income-expense-graph>
  </mat-card>
  <!--  <span class="grid grid-cols-1">-->
  <mat-card style="height: 578px">
    <mat-card-header>Positions</mat-card-header>
    <mat-card-content class="overflow-y-scroll" >
      <app-position-list [filter]="dataFilter"></app-position-list>
    </mat-card-content>
  </mat-card>
</div>
<div class="grid grid-cols-3 gap-4 px-4 graphic-row">
  <mat-card class="col-span-2 h-fit">
    <app-category-expense-graph></app-category-expense-graph>
  </mat-card>
</div>
